<h2><%= _("Change my password") %></h2>

<%= link_to _("Change password"), edit_user_registration_path, remote: true %>

<%= render 'shared/modal', modal_id: 'edit_user_password', modal_title: _("Change my password") %>
