<% provide(:title, _("Sign-up confirmed")) %>

<div class="container">
    <div class="row">
        <article>
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="row">
                    <div class="col-md-12">
                        <h1><%= _("Congratulations!") %></h1>

                        <h2><%= _("You've successfully created your account") %></h2>

                        <p><%= link_to _("Go to My account"), root_path %></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>



