<% provide(:title, _("Sign-up unconfirmed")) %>

<h1><%= _("Check your email for a message with a confirmation link") %></h1>

<p>
  <%= _("You will receive an email soon that contains a confirmation link.") %><br>
  <%= _("Click the link to confirm your account.") %>
</p>

<%= link_to _("Back to the homepage"), root_path %>
