body {
  .select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
    border: $input_border_style;
    border-radius: 4px;
  }

  .select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices {
    border: $input_border_size solid $input_border_active_color;
    box-shadow: none;
  }

  .select2-container-active.select2-dropdown-open .select2-choice,
  .select2-container-multi.select2-container-active.select2-dropdown-open .select2-choices {
    border: 1px solid $input_border_active_color;
    box-shadow: none;
  }


  .select2-drop {
    input[type=text] {
      margin-top: 4px;
    }

    input[type=text]:focus {
      border: 1px solid $input_border_active_color;
    }
  }

  a.select2-choice:focus {
    outline: none;
  }

  .input-sm, .input-group-sm > .form-control {
    height: $input_height;
  }

  .select2-container.input-sm .select2-choice, .input-group-sm .select2-container .select2-choice {
    height: $input_height;
    color: $font_color_primary;
    font-size: $input_font_size;
  }

  .input-sm .select2-chosen, .input-group-sm .select2-chosen, .input-sm .select2-choice > span:first-child, .input-group-sm .select2-choice > span:first-child, .input-sm .select2-choices .select2-search-field input, .input-group-sm .select2-choices .select2-search-field input {
    padding-top: 11px;
  }

  .select2-arrow {
    padding-top: 6px;
    color: $input_border_color;
  }

  .select2-search input {
    color: $font_color_primary;
  }
}

