<div class="text-center">
  <h3><%= _("We've sent you password reset instructions") %></h3>
  <%= _("Check your email for a link to change your password.") %>
</div>
<div class="actions form-group">
  <button type="button" class="btn btn-block" data-dismiss="modal"><%= _("Return to MySite") %></button>
</div>
