<div class="row">
  <div class="col-sm-8">

    <h1><%= _("Forgot your password?") %></h1>

    <%= render 'form' %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
