@import url(https://fonts.googleapis.com/css?family=Raleway:500,200);

.logo {
  font-family: 'Raleway', Arial, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;

  .logo-icon {
    position: relative;
    top: 3px;
    width: 21px;
    left: 3px;
    margin-right: 2px;
    stroke: white;
    stroke-width: 20;
    fill: none;
    padding: 3px;

    &.filled, &:hover {
      fill: #e74c3c;
    }
  }

  &.primary {
    font-size: 20px;
    color: #fefdff;
    font-weight: 500;

    .logo-icon {
      // width: 16px;
    }
  }
}
